<template lang="pug">
	.main-button(@click="$emit('click')")
		slot
</template>

<script>
export default {
};
</script>

<style lang="scss">
	.main-button {
		background: antiquewhite;
		display: inline-block;
		padding: 7px 15px;
		font-size: 16px;
		border: solid 1px rgba(0, 0, 0, 0.07);
		margin-left: 15px;
		cursor: pointer;

		&:hover {
			background: aliceblue;
		}
	}
</style>
