<template lang="pug">
	router-link.event(:to="{ name: 'Church_Page_Events', params: {id: (church && church.Id) || ''}}", :style="styles")
		.event-name {{ church && church.Name }}
</template>

<script>
import base from "../modules/BaseModule";

export default {
    extends: base,

    props: [ "church" ],

    computed: {
        styles() {
            return {
                "background-image": "url(" + (this.church && this.church.MainImageUrl) + ")",
                "background-position-y": "inherit"
            };
        }
    },
};
</script>

<style lang="scss">
  .event {
    width: 95%;
    height: 150px;
    background-color: aliceblue;
    margin: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    background-size: cover;
    background-position: center center;
    border: 1px solid #303B4F;
    border-radius: 10px;
    overflow: hidden;

    @include media(S) {
      max-width: 350px;
    }

    &-name {
      position: absolute;
      bottom: 0;
      padding: 8px;
      width: 100%;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.2);
      color: #fff;
    }

    &-view {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 24px;
      padding: 6px 8px 7px 11px;
      border-radius: 0 0 0 24px;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
    }
  }
</style>
