<template lang="pug">
  .church-page__events
    event(v-for="event in newEventsFiltered" :key="event.Id" :event="event")
</template>

<script>
import base from "./BaseChurchPage";
import event from "./Event";

export default {
    extends: base,

    components: {
        event
    },

    computed: {
        newEventsFiltered() {
            return this.$store.getters.GET_ACTIVE_EVENTS.filter((item) => {
                return item.ChurchId === this.id;
            });
        }
    }
};
</script>

<style lang="scss">
  .church-page__events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
</style>
