<template lang="pug">
  div
    user(v-for="user in churchUsers", :key="user.Id", :user="user")
</template>

<script>
import base from "./BaseChurchPage";
import user from "./User";

export default {
    extends: base,

    components: {
        user
    },

    computed: {
        churchUsers() {
            return this.users.filter((item) => {
                return !!item.Active.data[0] && item.ChurchId === this.id;
            });
        }
    },
};
</script>
