<template lang="pug">
	.info
		.info__body {{ data }}
		btn(@click="popup.state = false") Ok
</template>

<script>
import base from "../modules/BaseModule";
import btn from "../components/Button";

export default {
    extends: base,

    components: {
        btn
    },

    props: [ "data" ]
};
</script>

<style lang="scss">
	.info {
		text-align: right;

		&__body {
			margin-bottom: 15px;
			text-align: left;
		}
	}
</style>
