<template lang="pug">
	transition(name="modal")
		.modal-mask(v-if="popup.state" @close="popup.state = false")
			.modal-wrapper(@click="$emit('close')")
				.modal-container(@click="bodyClick")
					h2.modal-header
						| {{ popup.title }}
					.modal-body
						component(:is="popup.type" :data="popup.data")
</template>

<script>
import base from "../modules/BaseModule";
import LoginForm from "../forms/Login";
import UserForm from "../forms/User";
import EventForm from "../forms/Event";
import ChurcheForm from "../forms/Church";
import EventSongForm from "../forms/EventSong";
import EventUserForm from "../forms/EventUser";
import SongForm from "../forms/Song";
import Info from "./Info";
import Question from "./Question";

export default {
    extends: base,

    components: {
        LoginForm,
        UserForm,
        EventForm,
        EventSongForm,
        EventUserForm,
        SongForm,
        Info,
        Question,
        ChurcheForm
    },

    methods: {
        bodyClick(event) {
            event.stopPropagation();
        }
    }
};
</script>

<style lang="scss">
	.modal-mask {
		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: table;
		transition: opacity .3s ease;
	}

	.modal-wrapper {
		display: table-cell;
		vertical-align: middle;
	}

	.modal-container {
		max-width: $M;
		margin: 0 10px;
		padding: 20px 30px;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
		transition: all .3s ease;
		font-family: Helvetica, Arial, sans-serif;
		box-sizing: border-box;

		@include media(M) {
			margin: 0 auto;
		}
	}

	.modal-header h3 {
		margin-top: 0;
		color: #42b983;
	}

	.modal-body {
		margin: 20px 0;
	}

	.modal-default-button {
		float: right;
	}

	/*
	 * The following styles are auto-applied to elements with
	 * transition="modal" when their visibility is toggled
	 * by Vue.js.
	 *
	 * You can easily play with the modal transition by editing
	 * these styles.
	 */

	.modal-enter {
		opacity: 0;
	}

	.modal-leave-active {
		opacity: 0;
	}

	.modal-enter .modal-container,
	.modal-leave-active .modal-container {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
</style>
