<template lang="pug">
	.question
		.question__body {{ data.text }}
		btn(@click="data.callback") Ok
		btn(@click="popup.state = false") Отмена
</template>

<script>
import base from "../modules/BaseModule";
import btn from "../components/Button";

export default {
    extends: base,

    components: {
        btn
    },

    props: [ "data" ]
};
</script>

<style lang="scss">
	.question {
		text-align: right;

		&__body {
			margin-bottom: 15px;
			text-align: left;
		}
	}
</style>
