<template lang="pug">
  .song(@click="openSongPage")
    .song-img(:style="styleObject")
      .song-img-text(v-if="!getYoutubeUrl()") {{ imageText }}
    .song-name
      span(v-if="isEvent") {{ song.Position + ". " }}
      | {{ song.Name }}
    .song-edit.icon.icon-edit(@click="editSong", v-if="edit && $rights.canEdit()")
    .song-view.icon.icon-star(@click="addFavorite", :class="favoriteClass")
</template>

<script>
import base from "../modules/BaseModule";

export default {
    extends: base,

    props: [ "song", "isEvent", "callback", "edit" ],

    computed: {
        styleObject() {
            let url = this.getYoutubeUrl();

            return url ? { "background-image": url } : {};
        },

        imageText() {
            let words = this.song.Name.split(" ");
            return (([0] && words[0][0]) + (words[1] && words[1][0])).toUpperCase();
        }
    },

    methods: {
        editSong(e) {
            e.stopPropagation();

            if (typeof this.edit === "function") {
                this.edit(this.song);
            }
        },

        getYoutubeUrl() {
            let code = "";
            if (this.song.YouTubeUri) {
                code = this.song.YouTubeUri.match("[^=]+$");
            }

            return code ? `url(https://img.youtube.com/vi/${code[0]}/default.jpg)`: "";
        },

        openSongPage() {
            if (this.isEvent) {
                this.$router.push({
                    name: "Song_page_in_event",
                    params: {id: this.song.SongId || this.song.Id, eventId: this.isEvent}
                });
            } else {
                this.$router.push({ name: "Song_page", params: {id: this.song.SongId || this.song.Id}});
            }

            if (typeof this.callback === "function") {
                this.callback();
            }
        },

        addFavorite(e) {
            e.stopPropagation();

            if (this.currentUser.Id) {
                this.$store.dispatch("ADD_FAVORITE_SONG", this.song.SongId || this.song.Id);
            } else {
                this.popup = {
                    type: "info",
                    title: "Favorite",
                    data: "Для добавления любимых песен необходимо войти в аккаунт",
                    state: true
                };
            }
        }
    },

    data() {
        return {
            favoriteClass: this.$store.state.favoriteSongs[this.song.SongId || this.song.Id]
        };
    }
};
</script>

<style lang="scss">
  .song {
    margin: 20px 10px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: left;
    background: aliceblue;
    text-decoration: none;
    color: inherit;
    position: relative;
    box-sizing: border-box;
    border-radius: 21px;
    padding: 0;
    border: solid 2px rgba(0, 0, 0, 0.07);
    cursor: pointer;

    &:hover {
      background: #cee8ff;
    }

    &.inactive {
      border: none;
    }

    &-img {
      width: 52px;
      border-radius: 50%;
      margin-right: 10px;
      background: #DB4437;
      height: 52px;
      position: relative;
      left: -2px;
      background-position: center;
      background-size: cover;
      border: 2px solid #74c2fd;

      &-text {
        line-height: 52px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-align: center;
      }
    }

    &-edit {
      position: absolute;
      right: 45px;
      font-size: 24px;
      color: gray;
    }

    &-view {
      position: absolute;
      right: 10px;
      font-size: 24px;
      color: gray;
      top: 50%;
      transform: translateY(-50%);

      &.active {
        color: gold;
      }
    }

    &-name {
      text-align: left;
    }
  }
</style>
