<template lang="pug">
  .song.user(@click="openUserPage")
    .song-img(:style="styleObject")
      .song-img-text(v-if="!user.PhotoUrl") {{ imageText }}
    .user-name.song-name.song-in-event
      .song-view(:class="classObj")
      | {{ user.Name }}
      .user-role-name {{ user.RoleName }}
    .user-edit.icon.icon-edit(@click="editUser", v-if="edit && $rights.canEdit()")
</template>

<script>
export default {
    props: [ "user", "edit" ],

    computed: {
        styleObject() {
            let url = this.user.PhotoUrl;

            return url ? { "background-image": `url(${ url })` } : {};
        },

        imageText() {
            let words = this.user.Name.split(" ");
            return (([0] && words[0][0]) + (words[1] && words[1][0])).toUpperCase();
        },

        classObj() {
            let result = this.user.ImageUrl && this.user.ImageUrl.match(/role-[a-z-]*/) || {};
            let obj = {
                icon: true
            };
            if (result.length > 0) {
                obj[`icon-${result[0]}`] = true;
            }

            return obj;
        }
    },

    methods: {
        openUserPage() {
            this.$router.push({ name: "Profile_page", params: {id: this.user.UserId || this.user.Id}});
        },

        editUser(event) {
            event.stopPropagation();

            if (typeof this.edit === "function") {
                this.edit(this.user);
            }
        }
    }
};
</script>

<style lang="scss">
  .user {

    &-edit {
      position: absolute;
      right: 10px;
      font-size: 24px;
      color: gray;
    }

    &-name-img {
      margin-right: 10px;
      font-size: 24px;
      line-height: 30px;
    }

    & &-name {
      flex-direction: column;
      align-items: start;
    }

    &-role-name {
      font-size: 12px;
    }
  }
</style>
