<template lang="pug">
	.swwwc-header.no-print
		router-link.swwwc-header__logo(:to="{ name: 'Main_section'}") Skinia Worship
		a.icon.icon-facebook(target="_blank", href="https://www.facebook.com/skiniaworship/", rel="noopener")
		.icon.icon-login(@click="openPoUp" v-if="!currentUser.Id")
		router-link.swwwc-header__user-name(v-if="currentUser.Id", :class="{'icon-login': isApp}" :to="{name: 'Profile_page', params: {id: currentUser.Id}}") {{ userName }}
		modal
</template>

<script>
import modal from "../../components/Modal";
import base from "../BaseModule";

export default {
    extends: base,

    components: {
        modal
    },

    computed: {
        userName() {
            return this.isApp ? "" : this.currentUser.Name;
        }
    },

    methods: {
        openPoUp() {
            this.popup = {
                type: "login-form",
                title: "Войти",
                state: true
            };
        }
    }
};
</script>

<style lang="scss">
	.swwwc-header {
		height: 200px;
		width: 100%;
		max-width: 1300px;
		margin: 0 auto;
		position: relative;

		@include media(L) {
			height: 300px;
		}

		& a {
			display: block;
			text-decoration: none;
		}

		& .icon.icon-facebook {
			font-size: 30px;
			position: absolute;
			top: 10px;
			right: 10px;
			color: #000;
		}

		& .icon.icon-login {
			font-size: 30px;
			position: absolute;
			top: 50px;
			right: 10px;
			color: #000;
		}

		&__logo {
			color: black;
			font: 35px Tangerine;
			text-align: center;
			top: 50%;
			position: relative;
			transform: translateY(-50%);
			text-shadow: 1px 1px 3px #434343;

			@include media(M) {
				font: 55px Tangerine;
			}
		}

		&__user-name {
			position: absolute;
			top: 13px;
			font-size: 16px;
			padding: 5px 12px 5px 5px;
			border-radius: 0 14px 14px 0;
			background: #000;
			color: #fff;
			text-decoration: none;
		}
	}

  @media all and (display-mode: standalone) {
    .swwwc-header {

      &.no-print {
        height: 55px;
        z-index: 100;
        background: #fff;
      }

      &__logo {
        text-align: left;
        padding-left: 15px;
      }

      & .icon.icon-facebook {
        top: 14px;
      }

      & .icon.icon-login {
        top: 14px;
        right: 50px;
      }

      &__user-name {
        right: 50px;
        top: 14px;
        border-radius: 15px;
        padding: 0;
        background: transparent;
      }
    }
  }
</style>
