<template lang="pug">
	include index.pug
</template>

<script>
import base from "../BaseModule";

export default {
    extends: base,

    props: [

    ],

    computed: {

    },

    created() {
        this.$ga.send("pageview");
    },

    data() {
        return {
            navigation: {
                next: "",
                back: ""
            }
        };
    }
};
</script>

<style lang="scss">
    .content {
      max-width: 1300px;
      margin: 0 5px 35px;
      box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.5);
      padding-bottom: 20px;

      @include media(L) {
        margin: 20px auto 20px;
      }
    }

    @media all and (display-mode: standalone) {
      .content {
        margin: 0 5px 5px;
        min-height: calc(100% - 115px);
        box-sizing: border-box;
      }
    }
</style>
