<template lang="pug">
  extends ../BaseSection/index.pug

  block content
    .shurch-section
      h3 Церкви
      .shurch-section__body
        church(v-for="church in churches" :key="church.Id" :church="church")
</template>

<script>
import church from "../../components/Church";
import base from "../BaseSection";

export default {
    extends: base,

    components: {
        church
    }
};
</script>

<style lang="scss">
  .shurch-section__body {
    display: flex;
    flex-wrap: wrap;
  }
</style>
