<template lang="pug">
  .church-page.page(v-touch:swipe.right="goBack", v-touch:swipe.left="goNext", v-touch:tap="onTap")
    .church-page__banner(:style="'background-image: url(' + church.MainImageUrl +');'")
      .page__buttons-back.icon.icon-back(@click="back")
    .church-page__name
      img.church-page__logo(:src="church.LogoUrl")
      | {{ church.Name }}
    .church-page__tabs
      router-link.church-page__tabs-item(:to="{name: 'Church_Page_Events', params: {id: (church && church.Id)}}")
        | EVENTS
      router-link.church-page__tabs-item(:to="{name: 'Church_Page_Members', params: {id: (church && church.Id)}}")
        | MEMBERS
      router-link.church-page__tabs-item.active(:to="{name: 'Church_Page_About', params: {id: (church && church.Id)}}")
        | ABOUT
    .church-page__body
      router-view
</template>


<script>
import base from "../../components/BaseChurchPage";

export default {
    extends: base
};
</script>

<style lang="scss" src="./style.scss"></style>
