.church-page {

  & .user {
    background: #252f41;
    margin: 20px 0;

    &:hover {
      background: #303b50;
    }
  }

  & .event {
    margin: 2.5% 0;
    width: 100%;
  }

  & .page__buttons-back {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.45);
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
  }

  &__banner {
    height: 240px;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    background-size: cover;
    background-position: top center;
    margin-top: 5px;

    @include media(L) {
      height: 400px;
      margin-top: 0;
    }
  }

  &__name {
    font-size: 28px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-weight: bold;
  }

  &__body {
    text-align: justify;
    padding: 0 10px;
  }
}

img.church-page__logo {
  width: 40px;
  height: 40px;
  margin: 12px;
}

.church-page__name {
  display: flex;
  height: 64px;
  font-size: 16px;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid #252f41;
}

.church-page.page {
  background: #1a2333;
  color: #fff;
  margin: 0 auto;
}

.church-page__body {
  padding: 20px 16px 0;
}

.church-page__tabs {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #252f41;
  padding: 0 10px;
}

.church-page__tabs-item {
  width: 86px;
  height: 100%;
  line-height: 50px;
  cursor: pointer;
}

.church-page h3 {
  margin: 0;
}

.church-page__banner {
  margin-top: 0;
}

.church-page__tabs-item.router-link-exact-active {
  border-bottom: 3px solid #ff0069;
}

.church-page__tabs-item {
  border: 3px solid transparent;
  box-sizing: border-box;
  line-height: 45px;
}

a.church-page__tabs-item {
  text-decoration: none;
  color: #fff;
}
