<template lang="pug">
  extends ../BaseSection/index.pug

  block content
      .main-section
          //.main-section__banner-container
              img.main-section__banner(src="/images/main.jpg")
          template(v-if="$store.state.lastActivity.events.length > 0")
            h3 Ближайшее событие
            event(:event="$store.state.lastActivity.events[0]")
          h3 Популярные песни
          song(v-for="song in $store.state.lastActivity.songs" :key="song.Id" :song="song")
          h3 Церкви
          .shurch-section__body
            church(v-for="church in churches" :key="church.Id" :church="church")
</template>

<script>
import church from "../../components/Church";
import song from "../../components/Song";
import event from "../../components/Event";
import base from "../BaseSection";

export default {
    extends: base,

    components: {
        song,
        event,
        church
    },

    props: [

    ],

    computed: {
        activeUsers() {
            return this.users.filter((item) => {
                return !!item.Active.data[0];
            });
        }
    },

    created() {
        this.navigation.next = "Schedule_section";
    }
};
</script>

<style lang="scss">
    .main-section {
		text-align: left;
		overflow: hidden;

		&__banner {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			height: 250px;
			background-position-x: center;

			&-container {
				width: 100%;
				background-color: #000;
			}
		}

		&__description {
			margin: 0 10px 10px;
			text-align: justify;
		}
	}
</style>
