<template lang="pug">
  .navigate-menu(:class="{open: open}")
    .navigate-menu__mask(@click="close" v-if="open")
    .navigate-menu__header
      .navigate-menu__header-icon.icon.icon-menu(@click="close")
    .navigate-menu__body
      ul.navigate-menu__items
        li.navigate-menu__item(@click="navigate('Main_section', 'Main Page')") Main Page
          .navigate-menu__item-image.icon.icon-home
        li.navigate-menu__item(@click="navigate('Song_section', 'Songs')") Songs
          .navigate-menu__item-image.icon.icon-song
        li.navigate-menu__item(@click="navigate('Event_section', 'Events')") Events
          .navigate-menu__item-image.icon.icon-event
          .navigate-menu__item-count(v-if="eventsCount > 0") {{ eventsCount }}
        li.navigate-menu__item(@click="navigate('Schedule_section', 'Schedule')") Schedule
          .navigate-menu__item-image.icon.icon-bell
        li.navigate-menu__item(@click="navigate('Churches_section', 'Churches')") Churches
          .navigate-menu__item-image.icon.icon-church
        li.navigate-menu__item(@click="navigate('Profile_page', 'Profile')") {{ userName }}
          .navigate-menu__item-image.icon.icon-login
    modal
</template>

<script>
import modal from "../../components/Modal";
import base from "../BaseModule";
export default {
    extends: base,

    components: {
        modal
    },

    props: [ "open" ],

    computed: {
        eventsCount() {
            let events = this.$store.getters.GET_ACTIVE_EVENTS || [];
            return events.length;
        },

        userName() {
            return !this.currentUser.Id ? "Profile" : this.currentUser.Name;
        }
    },

    created() {

    },

    methods: {
        close() {
            this.$emit("close");
        },

        navigate(to, name) {
            this.$ga.navigationClick(name, to);
            if (to === "Profile_page") {
                if (!this.currentUser.Id) {
                    this.popup = {
                        type: "login-form",
                        title: "Войти",
                        state: true
                    };
                } else {
                    this.$router.push({ name: to, params: { id: this.currentUser.Id } });
                }
            } else {
                this.$router.push({ name: to });
            }
            this.$emit("close");
        },
    },

    data() {
        return {
            isOpen: false
        };
    }
};
</script>

<style lang="scss">
  .navigate-menu {
    position: fixed;
    z-index: 100;
    background: #252F40;
    width: 300px;
    height: 100%;
    margin-left: -300px;
    transition: all 0.3s;
    text-align: left;
    top: 0;

    &.open {
      margin-left: 0;
    }

    &__mask {
      width: 100vh;
      height: 100%;
      position: absolute;
    }

    &__header {
      height: 170px;
      background-image: url(https://peavey.com/products/images/caguitars.jpg);
      background-size: cover;

      &-icon {
        position: relative;
        left: 16px;
        font-size: 20px;
        top: 16px;
        cursor: pointer;
      }
    }

    &__items {
      padding-left: 0;
      margin: 0;
    }

    &__item {
      padding-left: 70px;
      color: #fff;
      font-size: 14px;
      line-height: 48px;
      list-style-type: none;
      position: relative;
      cursor: pointer;

      &:hover, &:active {
        background-color: #303B4F;
      }

      &-image {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 16px;
      }

      &-count {
        position: absolute;
        left: 110px;
        top: 9px;
        height: 16px;
        width: 16px;
        line-height: 16px;
        text-align: center;
        background: red;
        border-radius: 50%;
        font-size: 11px;
      }
    }
  }
</style>
