<template lang="pug">
  .swwwc-content(:class="{fixed: menuFixed}")
    navigate-menu(:open="isOpen"  @close="toggleMenu")
    ul.swwwc-content__menu(:class="{fixed: menuFixed}")
      .swwwc-content__menu-icon.icon.icon-menu(@click="toggleMenu")
      input.swwwc-content__menu-search-intup(ref="input" :class="{active: state.viewSearch}" @keyup="onKeyUp" @focusout="focusUot")
      .swwwc-content__menu-search.icon.icon-search(@click="onSearchClick")
    .swwwc-content__menu-search-result(:class="{active: state.viewSearch && searchSongs.length > 0}")
      h3 Результаты поиска
      .swwwc-content__menu-search-result-items
        song(v-for="song in searchSongs" :key="song.Id" :song="song" :callback="onSearchClick.bind(this)")
    slot
</template>

<script>
import song from "../../components/Song";
import scrollService from "../../services/ScrollService";
import NavigateMenu from "../../modules/NavigateMenu";

export default {
    components: {
        song,
        NavigateMenu
    },

    computed: {
        searchSongs() {
            return this.$store.getters.GET_SEARCH_RESULT;
        }
    },

    methods: {
        toggleMenu() {
            this.isOpen = !this.isOpen;
        },

        navigate(to, name) {
            this.$ga.navigationClick(name, to);
            this.$router.push({ name: to});
        },

        isActive(value) {
            return this.$route.name === value;
        },

        focusUot(e) {
            if (e.target.value.length === 0) {
                this.state.viewSearch = false;
            }
        },

        songClick(id) {
            this.$ga.navigationClick(id, "Song_page");
            this.$router.push({ name: "Song_page", params: { id: id }});
            this.$refs.input.value = "";

            this.onSearchClick();
        },

        onSearchClick() {
            this.state.viewSearch = !this.state.viewSearch;

            if (this.state.viewSearch) {
                scrollService.scrollTop(true);
                this.$refs.input.focus();
            }
        },

        onKeyUp(e) {
            if (e.target.value.length > 2) {
                this.$store.dispatch("SEARCH_SONG_BY_NAME", { songName: e.target.value });
            }
        }
    },

    data() {
        return {
            state: {
                viewSearch: false
            },
            menuFixed: true,
            isOpen: false
        };
    }
};
</script>

<style lang="scss">
  .swwwc-content {
    text-align: center;
    position: relative;
    min-height: calc(100% - 385px);

    @include media(L) {
      min-height: calc(100% - 470px);
    }

    &.fixed {
      padding-top: 55px;
    }

    &__menu {
      height: 55px;
      z-index: 99;
      width: 100%;
      box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.5);
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: left;
      position: relative;
      box-sizing: border-box;
      border: solid 1px #dfdfdf;
      border-right: none;
      border-left: none;
      background: #fff;
      margin: 0 auto;

      &.fixed {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &-icon {
        left: 16px;
        position: relative;
        font-size: 20px;
      }

      &-search {
        position: absolute;
        right: 10px;
        color: #000;
        font-size: 20px;

        &-result {
          transition: all 0.5s ease;
          box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.5);
          overflow: hidden;
          max-height: 0;
          margin: 0 5px;
          max-width: 1300px;

          @include media(L) {
            margin: 20px auto;
          }

          &.active {
            margin: 20px 5px;
            max-height: 310px;

            @include media(L) {
              margin: 20px auto;
            }
          }

          &-items {
            border-top: solid 1px #e4e4e4;
            max-height: 250px;
            overflow: scroll;
          }
        }

        &-intup {
          position: absolute;
          right: 2px;
          height: 35px;
          border-radius: 16px;
          width: 0;
          background: #cfcdcd;
          font-size: 18px;
          border: none;
          padding: 0;
          transition: all 0.5s ease;
          box-sizing: border-box;

          &:focus {
            outline: none;
          }

          &.active {
            padding-left: 20px;
            width: calc(100% - 50px);

            @include media(L) {
              max-width: 500px;
            }
          }
        }
      }

      &-item {
        display: inline-block;
        margin-right: 5px;
        padding: 5px 10px;
        border-radius: 5px;

        &.active {
          background-color: #faebd6;

          & span {
            color: #000;
          }
        }

        & span {
          color: #000;
          text-decoration: none;
          display: block;
          position: relative;
          font-weight: bold;
        }

        &.first {
          margin-left: 10px;
        }

        &-count {
          position: absolute;
          color: #343434;
          top: -8px;
          right: -13px;
          background: rgba(255, 53, 57, 0.71);
          border-radius: 50%;
          height: 17px;
          width: 17px;
          line-height: 18px;
          font-size: 12px;
        }
      }
    }
  }

  @media all and (display-mode: standalone) {
    .swwwc-content {
      min-height: unset;
    }
  }
</style>
