<template lang="pug">
  extends ./BaseSection/index.pug

  block content
    .admin-section
      h3 Документы
      router-link.song(:to="{name: 'Admin_page_list', params: {type: 'songs'}}")
        .song-name Песни
      router-link.song(:to="{name: 'Admin_page_list', params: {type: 'events'}}")
        .song-name События
      router-link.song(:to="{name: 'Admin_page_list', params: {type: 'users'}}")
        .song-name Пользователи
      router-link.song(:to="{name: 'Admin_page_list', params: {type: 'churches'}}")
        .song-name Церкви

</template>

<script>
import base from "./BaseSection";

export default {
    extends: base
};
</script>

<style lang="scss">

</style>
