<template lang="pug">
	extends ./BasePage/index.pug

	block page_buttons
		.admin-page__add.icon.icon-add(@click="add")

	block page_content
		.admin-page
			h2.admin-page__title {{ type }}
			.song(:key="element.Id" v-for="element in elements")
				.song-name {{ element.Name }}
				.icon.icon-link(@click="goTo(element)")
				.icon.icon-edit(@click="edit(element)")
</template>

<script>
import base from "./BasePage";

export default {
    extends: base,

    props: [ "type" ],

    computed: {
        elements() {
            return this[this.type];
        }
    },

    created() {

    },

    methods: {
        getEntityName() {
            return this.type.substring(0, this.type.length -1);
        },

        add() {
            this.popup = {
                type: this.getEntityName() + "-form",
                title: "Add",
                data: {},
                state: true
            };
        },

        edit(element) {
            this.popup = {
                type: this.getEntityName() + "-form",
                title: "Edit",
                data: element,
                state: true
            };
        },

        goTo(element) {
            let routeName = "";
            switch (this.type) {
            case "events":
                routeName = 'Event_page';
                break;
            case "songs":
                routeName = 'Song_page';
                break;
            case "users":
                routeName = 'Profile_page';
                break;
            }

            if (routeName !== "") {
                this.$router.push({ name: routeName, params: {id: element.Id}});
            }
        }
    }
};
</script>

<style lang="scss">
    .admin-page {

		&__add {
			font-size: 25px;
			color: green;
			margin-right: 10px;
		}

		&__title {
			text-transform: uppercase;
			margin-top: 0;
		}

		& .icon.icon-link {
			font-size: 17px;
			position: absolute;
			right: 40px;
			color: blue;
		}

		& .icon.icon-edit {
			font-size: 21px;
			position: absolute;
			right: 10px;
		}
	}
</style>
