<template lang="pug">
	router-view
</template>

<script>
export default {
    created() {
        if (!this.$store.state.config.editorLoad) {
            let script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "/js/editor.js";

            document.getElementsByTagName("head")[0].appendChild(script);
            this.$store.state.config.editorLoad = true;
        }
    }
};
</script>

<style lang="scss">
    @import "../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css";
</style>
