<template lang="pug">
	extends ./BasePage/index.pug

	block page_buttons
		.profile__settings.icon.icon-settings(v-if="currentUser.Id === id" @click="openMenu")
		ul.profile__settings-menu(:class="{active: showMenu}")
			li.profile__settings-menu-item.icon.icon-edit(@click="editUser")
				span.profile__settings-menu-item-title Редактировать
			li.profile__settings-menu-item.icon.icon-admin(@click="editMode" v-if="$rights.canEdit()")
				span.profile__settings-menu-item-title Админ панель
			li.profile__settings-menu-item.icon.icon-exit.icon.icon-exit(@click="exitUser")
				span.profile__settings-menu-item-title Виход

	block page_content
		.profile(@click="closeMenu")
			h3 Profile
			div
				label.profile__label Name
				.profile__value {{ user.Name }}
			div
				label.profile__label Login
				.profile__value {{ user.Login }}
			div
				label.profile__label Email
				a.profile__value(:href="'mailto:' + user.Email") {{ user.Email }}
			div
				label.profile__label Phone
				a.profile__value(:href="'tel:' + user.Phone") {{ user.Phone }}
			.profile__favorite-songs(v-if="currentUser.Id === id")
				h3 Любимые песни
				song(v-for="song in favoriteSongs" :key="song.Id" :song="song")

</template>

<script>
import base from "./BasePage";
import song from "../components/Song";

export default {
    extends: base,

    components: {
        song
    },

    props: [ "id" ],

    computed: {
        user: function() {
            return this.$store.getters.GET_USER_BY_ID(this.id) || {};
        }
    },

    created() {
        this.setFavoriteSongs();
    },

    methods: {
        closeMenu() {
            this.showMenu = false;
        },

        openMenu() {
            this.showMenu = true;
        },

        editMode() {
            this.closeMenu();
            this.$router.push({ name: 'Admin_section_main'});
        },

        editUser() {
            if (!this.currentUser.Id) {
                return;
            }

            this.popup = {
                type: "user-form",
                title: "Edit",
                data: this.currentUser,
                state: true
            };

            this.closeMenu();
        },

        exitUser() {
            let scope = this;

            this.popup = {
                type: "question",
                title: "Question",
                data: {
                    text: "Вы действительно хотите выйти?",
                    callback() {
                        scope.popup.state = false;
                        scope.$cookies.set("session", "");
                        scope.currentUser = {};
                    }
                },
                state: true
            };

            this.closeMenu();
        },

        setFavoriteSongs() {
            let scope = this;

            this.favoriteSongs = this.songs.filter((song) => {
                let fav = scope.$store.state.favoriteSongs[song.Id];
                return fav && fav.active === true;
            });
        }
    },

    watch: {
        isInit: 'setFavoriteSongs'
    },

    data() {
        return {
            favoriteSongs: [],
            showMenu: false
        };
    }
};
</script>

<style lang="scss">
	.profile {
		text-align: left;
		margin-bottom: 30px;

		&__label {
			display: inline-block;
			margin-right: 10px;
			padding-right: 10px;
			width: 65px;
			text-align: right;
			border-right: solid 2px #d8d8d8;
			line-height: 24px;
		}

		&__value {
			display: inline-block;
		}

		&__settings {
			font-size: 25px;
			display: inline-block;
			cursor: pointer;

			&-menu {
				position: absolute;
				top: 10px;
				margin: 0;
				width: 0;
				overflow: hidden;
				padding: 10px 0;
				text-align: left;
				font-size: 18px;
				background: #fff;
				box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.5);

				&.active {
					padding: 10px;
					width: 200px;
				}

				& &-item {
					line-height: 25px;
					cursor: pointer;

					&:hover {
						background: aliceblue;
					}

					&:before {
						font-size: 24px;
					}

					&-title {
						padding-left: 10px;
						vertical-align: super;
					}
				}
			}
		}

		&__exit {
			font-size: 25px;
			display: inline-block;
		}
	}
</style>
