<template lang="pug">
  extends ./BasePage/index.pug

  block page_header
    .song-page__video(:class="{disable: !state.youTubeUri}")
      iframe(v-if="state.youTubeUri" width="100%" height="100%" :src="state.youTubeUri" frameborder="0" allowfullscreen)

  block page_buttons
    svg.song-page__buttons-video(v-if="!state.youTubeUri" @click="getYoutubeUrl" height="100%" version="1.1" viewBox="0 0 68 48" width="100%")
      path(d="m .66,37.62 c 0,0 .66,4.70 2.70,6.77 2.58,2.71 5.98,2.63 7.49,2.91 5.43,.52 23.10,.68 23.12,.68 .00,-1.3e-5 14.29,-0.02 23.81,-0.71 1.32,-0.15 4.22,-0.17 6.81,-2.89 2.03,-2.07 2.70,-6.77 2.70,-6.77 0,0 .67,-5.52 .67,-11.04 l 0,-5.17 c 0,-5.52 -0.67,-11.04 -0.67,-11.04 0,0 -0.66,-4.70 -2.70,-6.77 C 62.03,.86 59.13,.84 57.80,.69 48.28,0 34.00,0 34.00,0 33.97,0 19.69,0 10.18,.69 8.85,.84 5.95,.86 3.36,3.58 1.32,5.65 .66,10.35 .66,10.35 c 0,0 -0.55,4.50 -0.66,9.45 l 0,8.36 c .10,4.94 .66,9.45 .66,9.45 z" fill="red" fill-opacity="0.81")
      path(d="m 26.96,13.67 18.37,9.62 -18.37,9.55 -0.00,-19.17 z" fill="#fff")
      path(d="M 45.02,23.46 45.32,23.28 26.96,13.67 43.32,24.34 45.02,23.46 z" fill="#ccc")
    .song-page__buttons-info.icon.icon-info(@click="showInfo")
    .song-page__buttons-full-screen.icon.icon-fullscreen(@click="enterFullScreen" :class="{'icon-undo-fullscreen': isInFullScreen}")

  block page_content
    .song-page__name
      | {{ state.song.Name }}
      span(v-if="eventId") {{ state.songNumber }}
    .song-page__info(:class="{show: state.isShowInfo}")
      .song-page__info-item Темп: {{ state.song.Temp }}
      .song-page__info-item
        | Multitracks:
        a(:href="state.song.Multitracks" target="_blank") {{ getMultitracksName(state.song.Multitracks) }}
      .song-page__info-item Регламент:
        span(v-html="state.song.Order")
    .song-page__body(v-if="state.song.Body" v-html="state.song.Body")
</template>

<script>
import base from "./BasePage";

export default {
    extends: base,

    props: [
        "id",
        "eventId"
    ],

    computed: {
        selectedEvent() {
            return this.$store.getters.GET_EVENT_BY_ID(this.eventId) || {};
        }
    },

    created() {
        this.fetchData();
    },

    methods: {
        setSongNumber() {
            if (this.selectedEvent && this.selectedEvent.SongIds) {
                let ids = this.selectedEvent.SongIds.split("|");
                this.state.songNumber = " (" + (this.state.index + 1) + "/" + ids.length + ")";
            } else {
                this.state.songNumber = "";

            }
        },

        onTap() {
            let dblTap = this.state.dblTap;

            dblTap.clicks++;
            if(dblTap.clicks === 1) {
                let self = this;
                dblTap.timer = setTimeout(function() {
                    dblTap.clicks = 0;
                }, dblTap.delay);
            } else{
                clearTimeout(dblTap.timer);
                this.enterFullScreen();
                dblTap.clicks = 0;
            }
        },

        getMultitracksName(url) {
            if (url) {
                let matches = url.match(/[a-zA-Z-]*(\/|)$/);
                if (matches.length > 0) {
                    return matches[0].replace(/-/g, " ").replace("/", "");
                }
            }

            return "";
        },

        showInfo() {
            this.state.isShowInfo = !this.state.isShowInfo;
        },

        getYoutubeUrl() {
            let youTubeUri = this.state.song.YouTubeUri;
            let search = youTubeUri && youTubeUri.match(`[^=]+$`) || [];
            if (search.length > 0) {
                this.state.youTubeUri = "https://www.youtube.com/embed/" + search[0] + "?autoplay=1";
            }
        },

        fetchData() {
            this.state.song = this.$store.getters.GET_SONG_BY_ID(this.id) || {};

            if (!this.state.song.Id) {
                this.$store.dispatch("DATA_SERVISE", {
                    "columns":["*"],
                    "schemaName":"Song",
                    "filters": [{"columnName": "Id", "value": this.id}]
                }).then((response) => {
                    if (response.data && response.data.length > 0) {
                        this.state.song = response.data[0];
                    }
                });
            }
            this.state.youTubeUri = "";

            this.getNextSong();
        },

        enterFullScreen() {
            let docElm = document.getElementsByClassName("page")[0];

            if (!this.isInFullScreen) {
                if (docElm.requestFullscreen) {
                    docElm.requestFullscreen();
                } else if (docElm.mozRequestFullScreen) {
                    docElm.mozRequestFullScreen();
                } else if (docElm.webkitRequestFullScreen) {
                    docElm.webkitRequestFullScreen();
                } else if (docElm.msRequestFullscreen) {
                    docElm.msRequestFullscreen();
                }

                this.isInFullScreen = true;
            } else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.webkitExitFullscreen) {
                    document.webkitExitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }

                this.isInFullScreen = false;
            }
        },

        getNextSong() {
            let songs = this.selectedEvent.SongIds;
            if (songs) {
                let ids = songs.split("|");
                if (ids.length >0) {
                    let nextSongId = "";
                    let isNext = false;
                    let scope = this;

                    ids.reverse().forEach((item, index) => {
                        if (isNext) {
                            isNext = false;
                            nextSongId = item;
                        } else if (scope.id === item) {
                            scope.state.index = index;
                            isNext = true;
                        }
                    });

                    if (nextSongId) {
                        this.navigation.next = {
                            name: "Song_page_in_event",
                            params: {id: nextSongId, eventId: this.eventId}
                        };
                    }
                }

                this.setSongNumber();
            }
        }
    },

    watch: {
        $route: "fetchData",

        selectedEvent() {
            this.getNextSong();
        }
    },

    data() {
        return {
            state: {
                song: {},
                youTubeUri: "",
                title: "",
                isShowInfo: false,
                dblTap: {
                    delay: 700,
                    clicks: 0,
                    timer: null
                }
            },
            isInFullScreen: (document.fullscreenElement && document.fullscreenElement !== null) ||
                (document.webkitFullscreenElement && document.webkitFullscreenElement !== null) ||
                (document.mozFullScreenElement && document.mozFullScreenElement !== null) ||
                (document.msFullscreenElement && document.msFullscreenElement !== null)
        };
    }
};
</script>

<style lang="scss">
  .song-page {

    &__info {
      text-align: left;
      height: 0;
      padding: 0 10px;
      box-sizing: border-box;
      transition: all 0.5s ease;
      margin: 10px;
      background: #f6dfb0;
      overflow: hidden;

      &.show {
        height: auto;
        padding: 10px;
      }
    }

    &__body {
      max-width: 800px;
      margin: 0 auto;

      & p {
        margin: 5px 0;
        text-align: center;
        padding-left: 0;

        & i {
          color: red;
        }

        & strong {
          font-size: 20px;
        }
      }
    }

    &__name {
      font-size: 28px;
      margin: 0 auto;
      padding-bottom: 20px;
    }

    &__buttons {

      &-video {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        cursor: pointer;
      }

      &-info {
        font-size: 25px;
        margin-right: 10px;
        display: inline-block;
        cursor: pointer;
      }

      &-full-screen {
        font-size: 25px;
        display: inline-block;
        cursor: pointer;

        @include media(M) {
          display: none;
        }
      }
    }

    &__video {
      height: 300px;
      margin: 0 auto;
      transition: all 0.5s ease;

      @include media(S) {
        height: 400px;
      }

      @include media(M) {
        height: 500px;
      }

      @include media(L) {
        height: 600px;
      }

      &.disable {
        height: 0;
      }
    }
  }
</style>
