<template lang="pug">
	extends ./BaseSection/index.pug

	block content
		.songs-section
			h3 Быстрый фильтр
			.songs-section__filters
				.songs-section__filters-item(v-for="filter in filters" @click="applyFilter(filter.value)" :class="{active: isActive(filter.value)}") {{ filter.name }}
			h3 Песни ({{ filteredSongs.length }})
			song(v-for="song in filteredSongs" :key="song.Id" :song="song")
</template>

<script>
import song from "../components/Song";
import base from "./BaseSection";

export default {
    extends: base,

    components: {
        song
    },

    computed: {
        filteredSongs() {
            return this.songs.filter((song) => {
                return !this.songQuickFilter || song.Name[0] === this.songQuickFilter;
            });
        },

        songQuickFilter: {
            get() {
                return this.$store.state.config.songQuickFilter;
            },
            set(value) {
                this.$store.state.config.songQuickFilter = value;
            }
        },

        filters() {
            let filters = [];
            filters.push({
                name: "All",
                value: ""
            });

            this.songs.forEach((song) => {
                let firstLetter = song.Name[0];

                if (!filters.find((item) => { return item.value === firstLetter})) {
                    filters.push({
                        name: firstLetter,
                        value: firstLetter
                    });
                }
            });

            return filters;
        }
    },

    created() {
        this.navigation.back = "Event_section";
    },

    methods: {
        isActive(value) {
            return this.songQuickFilter === value;
        },

        applyFilter(filterValue) {
            this.songQuickFilter = filterValue;
        }
    }
};
</script>

<style lang="scss">
	.songs-section {

		&__filters {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			&-item {
				padding: 10px;
				margin: 5px;
				background-color: antiquewhite;
				border-radius: 6px;

				&.active {
					background-color: darkgray;
				}
			}
		}
	}
</style>
