//<!doctype html>
html
    head
        title Skiniia Worship
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, maximum-scale=5.0, width=device-width")
        meta(property="og:type", content="website")
        meta(property="og:title", content=og && og.title)
        meta(property="og:description", content=og && og.description)
        meta(property="og:image", content=og && og.img)
        meta(name="viewport-fit" content="cover")
        link(rel="apple-touch-startup-image" href="/images/ico-512.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/images/ico-192.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/images/ico-192.png")
        link(rel="apple-touch-icon" sizes="167x167" href="/images/ico-192.png")
        meta(name="apple-mobile-web-app-title" content="Champion")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="theme-color", content="#fff")
        meta(name="Description" content="Наша Миссия - быть командой поклонников, которые будут поклоняться в Духе и Истине.")
        script(src="/js/app.js" async)
        link(rel="manifest", href="/manifest.webmanifest")
        link(href="/app.font.css" rel="stylesheet")
        script.
            if ("serviceWorker" in navigator) {
                window.addEventListener("load", function () {
                    navigator.serviceWorker.register("/sw.js")
                        .then(function (registration) {
                            console.log("ServiceWorker registration successful with scope: ", registration.scope);
                        })
                        .catch(function (err) {
                            console.log("ServiceWorker registration failed: ", err);
                        });
                })
            }

    body
        #app
