<template lang="pug">
	include index.pug
</template>

<script>
import base from "../../modules/BaseModule";
import btn from "../../components/Button";

export default {
    extends: base,

    components: {
        btn
    },

    props: [ "data" ],

    methods: {
        save() {}
    },

    data() {
        return {
            error: ""
        };
    }
};
</script>

<style lang="scss">
    @import "./style.scss";
</style>
