.form {

  &__input {
    display: block;
    width: 100%;
    margin: 2px 0 10px;
    height: 28px;
    background: aliceblue;
    border: solid 1px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  &__error {
    text-align: center;
    color: red;
    font-size: 14px;
  }

  &__footer {
    text-align: right;
    margin-top: 30px;
  }
}