<template lang="pug">
	.swwwc-footer Powered by DS
		.swwwc-footer__go-up.icon.icon-back(@click="goUp")
</template>

<script>
import scrollService from "../../services/ScrollService";

export default {
    methods: {
        goUp() {
            scrollService.scrollTop(true);
        }
    }
};
</script>

<style lang="scss">
	.swwwc-footer {
		bottom: 0;
		height: 42px;
		background: #000;
		width: 100%;
		color: wheat;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 1300px;
		margin: 0 auto;
		min-height: 150px;
		box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.5);

		&__go-up {
			font-size: 20px;
			line-height: 40px;
			text-align: center;
			width: 40px;
			height: 40px;
			position: fixed;
			right: 20px;
			bottom: 20px;
			border: solid 2px #888;
			color: #000;
			background: #fff;
			border-radius: 50%;
			transform: rotateZ(90deg);

			@include media(L) {
				right: calc(50% - 630px);
			}
		}
	}

  @media all and (display-mode: standalone) {
    .swwwc-footer {
      display: none;

      &__go-up {
        display: none;
      }
    }
  }
</style>
