<template lang="pug">
	extends ../BaseSection/index.pug

	block content
		.event-section
			h3 Новые ({{ newEvents.length }})
			.events-new
				event(v-for="event in newEventsFiltered" :key="event.Id" :event="event")
			.events-section__more(@click="renderMore('new')" :class="{ active: state.shownewCount && newEvents.length > 4 }") Показать еще
			h3 Прошедшие ({{ oldEvents.length }})
			.events-old
				event(v-for="event in oldEventsFiltered" :key="event.Id" :event="event")
			.events-section__more(@click="renderMore('old')" :class="{active: state.showoldCount}") Показать еще
</template>

<script>
import event from "../../components/Event";
import base from "../BaseSection";

export default {
    extends: base,

    components: {
        event
    },

    props: [

    ],

    computed: {
        newEvents() {
            return this.$store.getters.GET_ACTIVE_EVENTS;
        },

        newEventsFiltered() {
            let scope = this;
            let count = 0;

            return this.newEvents.filter(() => {
                count++;
                return count <= scope.newCount;
            });
        },

        oldEvents() {
            return this.$store.getters.GET_EVENTS_ARHIVE;
        },

        oldEventsFiltered() {
            let scope = this;
            let count = 0;

            return this.oldEvents.filter(() => {
                count++;
                return count <= scope.oldCount;
            });
        },

        newCount: {
            get() {
                return this.$store.state.config.newCount;
            },
            set(value) {
                this.$store.state.config.newCount = value;
            }
        },

        oldCount: {
            get() {
                return this.$store.state.config.oldCount;
            },
            set(value) {
                this.$store.state.config.oldCount = value;
            }
        }
    },

    created() {
        this.navigation.next = "Song_section";
        this.navigation.back = "Schedule_section";
    },

    methods: {
        renderMore(ettrName) {
            this[ettrName + "Count"] += 4;

            if (this[ettrName + "Events"].length < this[ettrName + "Count"]) {
                this.state["show" + ettrName + "Count"] = false;
            }
        },

        isNewEvent(event) {
            let data = new Date();
            let day = data.getDate();
            let month = data.getMonth() + 1;
            let year = data.getFullYear();
            return new Date(event.Date).getTime() >= new Date(month + "/" + day + "/" + year).getTime();
        }
    },

    data() {
        return {
            state: {
                shownewCount: true,
                showoldCount: true
            }
        };
    }
};
</script>

<style lang="scss">
    .event {

		&s {

			&-old,
			&-new {
				display: flex;
				flex-wrap: wrap;
			}

			&-section__more {
				font-size: 19px;
				margin: 10px;
				display: none;
				text-decoration: underline;

				&.active {
					display: block;
				}
			}
		}
	}
</style>
