.page(v-touch:swipe.right="goBack", v-touch:swipe.left="goNext", v-touch:tap="onTap", :class="pageClasses || {}")
    block page_header
    .page__buttons
        .page__buttons-back.icon.icon-back(@click="back")
        block page_buttons
    block page_content
