<template lang="pug">
	include index.pug
</template>

<script>
import base from "../BaseModule";

export default {
    extends: base,

    created() {
        this.$ga.send("pageview");
    },

    methods: {
        back() {
            this.$ga.navigationClick("back");
            this.$router.back();
        },

        onTap() {},

        goBack() {
            this.$ga.navigationSwipe("back");
            this.$router.back();
        },

        goNext() {
            if (this.navigation.next) {
                this.$ga.navigationSwipe("back", this.navigation.next.name);
                this.$router.push(this.navigation.next);
            }
        }
    },

    data() {
        return {
            navigation: {
                next: ""
            }
        };
    }
};
</script>

<style lang="scss">
	.page {
		position: relative;
		background: #fff;
		overflow: scroll;
		max-width: 1300px;
		margin: 0 5px 35px;
		box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.5);

		@include media(L) {
			margin: 0 auto 35px;
		}

		&__buttons {
			justify-content: flex-end;
			display: flex;
			align-items: center;
			padding: 10px;
			height: 50px;

			&-back {
				position: absolute;
				left: 10px;
				font-size: 30px;
			}
		}
	}

  @media all and (display-mode: standalone) {
    .page {
      margin: 0 5px 5px;
      min-height: calc(100% - 115px);
      box-sizing: border-box;
    }
  }
</style>
