<template lang="pug">
	extends ../BaseSection/index.pug

	block content
		.schedule-section
			h3 Фильтр по:
			select.schedule-section__select(v-model="selectedUser")
				option(v-for="user in users" :value="user.UserName") {{ user.UserName }}
			span.schedule-section__select-description Если вас нет в списке значит вы не назначены в будущие служения
			h3 Участвует в:
			event(v-for="event in selectedEvents" :key="event.Id" :event="event")

</template>

<script>
import base from "../BaseSection";
import event from "../../components/Event";

export default {
    extends: base,

    components: {
        event
    },

    computed: {
        selectedUser: {
            get() {
                return this.$store.state.config.selectedUser;
            },
            set(value) {
                this.$store.state.config.selectedUser = value;
            }
        },

        schedule: {
            get() {
                return this.$store.state.schedule;
            },
            set(value) {
                this.$store.state.schedule = value;
            }
        }
    },

    created() {
        this.navigation.next = "Event_section";
        this.navigation.back = "Main_section";

        this.fetchData();
    },

    methods: {
        fetchData() {
            if (this.schedule.length === 0) {
                this.$store.dispatch("GET_SCHEDULE").then((response) => {
                    if (response.data.length > 0) {
                        this.schedule = response.data;
                    }
                });
            } else {
                this.getUsers(this.schedule);
                this.selectUser(this.selectedUser);
            }
        },

        selectUser(value) {
            if (typeof value !== "string") {
                value = this.selectedUser;
            }
            let selectedEvents = [];
            this.schedule.forEach((item) => {
                if (item.Exists && item.UserName === value) {
                    selectedEvents.push(item);
                }
            });

            this.selectedEvents = selectedEvents;
        },

        getUsers(value) {
            let users = [];

            value.forEach((item) => {
                if (item.Exists && !users.find((user) => {
                    return user.UserName === item.UserName;
                })) {
                    users.push({UserName: item.UserName});
                }
            });

            this.users = users;
        }
    },

    watch: {
        schedule(value) {
            this.getUsers(value);
        },

        selectedUser(value) {
            this.selectUser(value);
        }
    },

    data() {
        return {
            selectedEvents: [],
            users: []
        };
    }
};
</script>

<style lang="scss">
    .schedule-section {

		&__select {
			width: calc(100% - 20px);
			margin: 0 10px;
			box-sizing: border-box;
			border: solid 1px;
			height: 30px;
			font-size: 16px;

			&-description {
				margin-top: 10px;
				display: block;
			}
		}
	}
</style>
