<template lang="pug">
  form#church_edit
    div
      label Name:
      input.login__input(v-model="data.Name" form="church_edit")
    div
      label Адресс главной картинки:
      input.login__input(v-model="data.MainImageUrl" form="church_edit")
    div
      label Адрес лого:
      input.login__input(v-model="data.LogoUrl" form="church_edit")
    div
      label Описание церкви:
      ckeditor(type="classic" v-model="data.Body" :config="{toolbar: ['bold', 'italic', '|', 'undo', 'redo']}")
    div.login__error(v-if="showEditError") Ошибка редактирования
    .login__footer
      btn(@click="save") Save
      btn(@click="popup.state = false") Отменить
</template>

<script>
import base from "../modules/BaseModule";
import btn from "../components/Button";

export default {
    extends: base,

    components: {
        btn
    },

    props: [ "data" ],

    methods: {
        getComumns() {
            return [
                { columnName: "Name", value: this.data.Name },
                { columnName: "MainImageUrl", value: this.data.MainImageUrl },
                { columnName: "LogoUrl", value: this.data.LogoUrl },
                { columnName: "Body", value: this.data.Body },
            ];
        },

        save() {
            if (this.data.Id) {
                this.$store.dispatch("DATA_SERVISE", {
                    operation: "update",
                    columns: this.getComumns(),
                    schemaName: "Church",
                    filters: [ { columnName: "Id", value: this.data.Id } ]
                }).then((response) => {
                    if (response.status === 200) {
                        this.popup = {
                            type: "info",
                            title: "Saves",
                            data: "Данные успешно обновлены",
                            state: true
                        };
                    }
                });
            } else {
                this.$store.dispatch("DATA_SERVISE", {
                    operation: "insert",
                    columns: this.getComumns(),
                    schemaName:"Church"
                }).then((response) => {
                    if (response.status === 200) {
                        this.popup = {
                            type: "info",
                            title: "Saves",
                            data: "Данные успешно сохранены",
                            state: true
                        };
                    }
                });
            }
        }
    },

    data() {
        return {
            showEditError: false,
            roles: [],
            selectedRole: {}
        };
    }
};
</script>

<style lang="scss"></style>
