<template lang="pug">
	div
		form#event_edit
			div
				label Название:
				input.login__input(v-model="data.Name")
			div
				label Изображение:
				input.login__input(v-model="data.ImageUrl")
			div
				label Дата:
				input.login__input(v-model="date", type="date")
			div
				label Текст:
				ckeditor(type="classic", v-model="data.Body", :config="{toolbar: ['bold', 'italic', '|', 'undo', 'redo']}")
			div
				label Адрес репетиции:
				input.login__input(v-model="data.Address")
			div
				label Адрес служения:
				input.login__input(v-model="data.Address2")
			div(v-if="data.Id")
				label Песни
				multiselect(:options="songOptions", :multiple="true", v-model="eventSongs", track-by="Name", label="Name")
			div(v-if="data.Id")
				label Участники
				multiselect(:options="userOptions", :multiple="true", v-model="eventUsers", track-by="Name", label="Name")
			div.login__error(v-if="showEditError") Ошибка
		.login__footer
			btn(@click="save") Save
			btn(@click="popup.state = false") Отменить
</template>

<script>
import base from "../modules/BaseModule";
import btn from "../components/Button";

export default {
    extends: base,

    components: {
        btn
    },

    props: [ "data" ],

    created() {
        if (this.data.Id) {
            this.loadDetails(this.data.Id);

            this.songs.forEach((song) => {
                this.songOptions.push({
                    SongId: song.Id,
                    IventId: this.data.Id,
                    Name: song.Name
                });
            }, this);

            this.users.filter((user) => {
                return user.Active.data[0];
            }).forEach((user) => {
                this.userOptions.push({
                    UserId: user.Id,
                    EventId: this.data.Id,
                    Name: user.Name
                });
            }, this);
        }
    },

    methods: {
        loadDetails(eventId) {
            this.$store.dispatch("DATA_SERVISE", {
                operation: "batch",
                items: [
                    {
                        name: "songs",
                        config: {
                            columns: [ "*", "SongId.Name as Name" ],
                            schemaName:"SongInIvent",
                            filters: [
                                { columnName: "IventId", value: eventId }
                            ],
                            order: [ "Position" ]
                        }
                    },
                    {
                        name: "users",
                        config: {
                            columns: [ "*", "UserId.Name as Name" ],
                            schemaName:"VwUserInIventRole",
                            filters: [
                                { columnName: "IventId", value: eventId }
                            ],
                            order: [ "Position" ]
                        }
                    }
                ]
            }).then((response) => {
                if (response.data) {
                    this.details = response.data;
                    this.eventSongs = response.data.songs.slice();
                    this.eventUsers = response.data.users.slice();
                }
            });
        },

        getEventColumns() {
            return [
                { columnName: "Name", value: this.data.Name },
                { columnName: "ImageUrl", value: this.data.ImageUrl },
                { columnName: "Date", value: this.date },
                { columnName: "Body", value: this.data.Body },
                { columnName: "Address", value: this.data.Address },
                { columnName: "Address2", value: this.data.Address2 }
            ];
        },

        save() {
            if (this.data.Id) {
                this.$store.dispatch("DATA_SERVISE", {
                    operation: "update",
                    columns: this.getEventColumns(),
                    schemaName: "Event",
                    filters: [ { columnName: "Id", value: this.data.Id } ]
                }).then((response) => {
                    if (response.status === 200) {
                        this.data.Date = this.date;
                        this.synkSongs();
                        this.synkUsers();
                        this.popup = {
                            type: "info",
                            title: "Saves",
                            data: "Данные успешно обновлены",
                            state: true
                        };
                    }
                });
            } else {
                this.$store.dispatch("DATA_SERVISE", {
                    operation: "insert",
                    columns: this.getEventColumns(),
                    schemaName: "Event"
                }).then((response) => {
                    if (response.status === 200) {
                        this.popup = {
                            type: "info",
                            title: "Saves",
                            data: "Данные успешно сохранены",
                            state: true
                        };
                    }
                });
            }
        },

        deleteSong(next, id) {
            this.$store.dispatch("DATA_SERVISE", {
                operation: "delete",
                schemaName:"SongInIvent",
                filters: [
                    { columnName: "IventId", value: this.data.Id },
                    { columnName: "SongId", value: id }
                ]
            }).then(() => {
                next();
            });
        },

        addSong(next, songId) {
            this.$store.dispatch("DATA_SERVISE", {
                operation: "insert",
                columns: [
                    { columnName: "IventId", value: this.data.Id },
                    { columnName: "SongId", value: songId },
                    { columnName: "Position", value: 0 }
                ],
                schemaName:"SongInIvent"
            }).then(() => {
                next();
            });
        },

        synkSongs() {
            let chain = [];

            let oldSongs = this.details.songs || [];
            oldSongs.forEach((eventSong) => {
                if (this.eventSongs.filter((song) => {
                    return song.SongId === eventSong.SongId;
                }).length === 0) {
                    if (!this.data.Id) {
                        return;
                    }
                    chain.push({ name: "deleteSong", args: [ eventSong.SongId ] });
                }
            }, this);

            this.eventSongs.forEach((song) => {
                if (!oldSongs.find((oldSong) => {
                    return oldSong.SongId === song.SongId;
                })) {
                    if (!this.data.Id) {
                        return;
                    }
                    chain.push({ name: "addSong", args: [ song.SongId ] });
                }
            }, this);

            this.chain(chain, this);
        },

        deleteUsers(next, id) {
            this.$store.dispatch("DATA_SERVISE", {
                operation: "delete",
                schemaName: "UserInIventRole",
                filters: [
                    {columnName: "IventId", value: this.data.Id},
                    {columnName: "UserId", value: id}
                ]
            }).then(() => {
                next();
            });
        },

        addUser(next, id) {
            this.$store.dispatch("DATA_SERVISE", {
                operation: "insert",
                columns: [
                    {columnName: "IventId", value: this.data.Id},
                    {columnName: "UserId", value: id}
                ],
                schemaName:"UserInIventRole"
            }).then(() => {
                next();
            });
        },

        synkUsers() {
            let chain = [];

            let oldUsers = this.details.users || [];
            oldUsers.forEach((eventUser) => {
                if (this.eventUsers.filter((user) => { return user.UserId === eventUser.UserId; }).length === 0) {
                    if (!this.data.Id) {
                        return;
                    }
                    chain.push({name: "deleteUsers", args: [eventUser.UserId]});
                }
            }, this);

            this.eventUsers.forEach((user) => {
                if (!oldUsers.find((oldUser) => {
                    return oldUser.UserId === user.UserId;
                })) {
                    if (!this.data.Id) {
                        return;
                    }
                    chain.push({name: "addUser", args: [user.UserId]});
                }
            }, this);

            this.chain(chain, this);
        }
    },

    data() {
        let date = "";
        let match = this.data.Date.match(/[0-9-]*/);
        if (match.length > 0) {
            date = match[0];
        }

        return {
            showEditError: false,
            date: date,
            details: {
                songs: [],
                users: []
            },
            eventSongs: [],
            eventUsers: [],
            userOptions: [],
            songOptions: []
        };
    }
};
</script>

<style lang="scss">
	#event_edit {
		overflow: scroll;
		max-height: 370px;

		& .ck-editor {
			margin-bottom: 10px;
		}
	}
</style>
