<template lang="pug">
	extends BaseForm/index.pug

	block form_inputs
		div
			label Порядок:
			input.form__input(v-model="data.Position", type="int")
</template>

<script>
import base from "./BaseForm/index";

export default {
    extends: base,

    methods: {
        save() {
            if (!this.data.Id) {
                return;
            }

            this.$store.dispatch("DATA_SERVISE", {
                operation: "update",
                columns: [{columnName: "Position", value: this.data.Position}],
                schemaName:"SongInIvent",
                filters: [{columnName: "Id", value: this.data.Id}]
            }).then(() => {
                this.popup = {
                    type: "info",
                    title: "Saves",
                    data: "Данные успешно обновлены",
                    state: true
                };
            });
        }
    }
};
</script>
