<template lang="pug">
	extends BaseForm/index.pug

	block form_inputs
		div
			label Роль:
			multiselect(:options="roles", v-model="selectedRole", track-by="Name", label="Name")
</template>

<script>
import base from "./BaseForm/index";

export default {
    extends: base,

    created() {
        this.$store.dispatch("DATA_SERVISE", {
            columns: ["*"],
            schemaName: "UserRole"
        }).then((response) => {
            if (response.data) {
                this.roles = response.data;

                this.selectedRole = response.data.find((item) => {
                    return item.Id === this.data.RoleId;
                });
            }
        });
    },

    methods: {
        save() {
            if (!this.data.Id) {
                return;
            }

            this.$store.dispatch("DATA_SERVISE", {
                operation: "update",
                columns: [{columnName: "RoleId", value: this.selectedRole.Id}],
                schemaName: "UserInIventRole",
                filters: [{columnName: "Id", value: this.data.Id}]
            }).then(() => {
                this.popup = {
                    type: "info",
                    title: "Saves",
                    data: "Данные успешно обновлены",
                    state: true
                };
            });
        }
    },

    data() {
        return {
            roles: [],
            selectedRole: {}
        };
    }
};
</script>
