<template lang="pug">
	form#login
		div
			label Name:
			input.login__input(ref="name" type="email" @keyup.enter="$refs.pass.focus()" form="login" autofocus)
		div
			label Pass:
			input.login__input(ref="pass" type="password" @keyup.enter="login" form="login")
		div.login__error(v-if="showLoginError") Ошибка входа
		.login__footer
			btn(@click="login") Войти
			btn(@click="popup.state = false") Закрыть
</template>

<script>
import base from "../modules/BaseModule";
import btn from "../components/Button";

export default {
    extends: base,

    components: {
        btn
    },

    methods: {
        login() {
            this.$store.dispatch("LOGIN", {
                userId: this.$refs.name.value,
                userPass: this.$refs.pass.value,
            }).then((response) => {
                if (response.data) {
                    this.popup.state = false;

                    let scope = this;
                    setTimeout(() => {
                        scope.popup = {
                            type: "info",
                            title: "Info",
                            data: "Вы вошли как " + response.data.Name,
                            state: true
                        };
                    }, 500);
                } else {
                    this.showLoginError = true;
                }
            });
        }
    },

    data() {
        return {
            showLoginError: false
        };
    }
};
</script>

<style lang="scss">
	.login {

		&__input {
			display: block;
			width: 100%;
			margin: 2px 0 10px;
			height: 28px;
			background: aliceblue;
			border: solid 1px rgba(0, 0, 0, 0.07);
			box-sizing: border-box;
			padding: 0 10px;
			font-size: 16px;

			&:focus {
				outline: none;
			}
		}

		&__error {
			text-align: center;
			color: red;
			font-size: 14px;
		}

		&__footer {
			text-align: right;
			margin-top: 30px;
		}
	}
</style>
