<template lang="pug">
	div
		form#song_edit
			div
				label Название:
				input.login__input(v-model="data.Name")
			div
				label Youtube:
				input.login__input(v-model="data.YouTubeUri")
			div
				label Temp:
				input.login__input(v-model="data.Temp")
			div
				label Multitracks:
				input.login__input(v-model="data.Multitracks")
			div
				label Регламент:
				ckeditor(type="classic" v-model="data.Order" :config="{toolbar: ['bold', 'italic', '|', 'undo', 'redo']}")
			div
				label Текст с аккордами:
				ckeditor(type="classic" v-model="data.Body" :config="{toolbar: ['bold', 'italic', '|', 'undo', 'redo']}")
			div.login__error(v-if="showEditError") Ошибка
		.login__footer
			btn(@click="save") Save
			btn(@click="popup.state = false") Отменить
</template>

<script>
import base from "../modules/BaseModule";
import btn from "../components/Button";

export default {
    extends: base,

    components: {
        btn
    },

    props: [ "data" ],

    methods: {
        getSongColumns() {
            return [
                {columnName: "Name", value: this.data.Name},
                {columnName: "YouTubeUri", value: this.data.YouTubeUri},
                {columnName: "Temp", value: this.data.Temp},
                {columnName: "Multitracks", value: this.data.Multitracks},
                {columnName: "`Order`", value: this.data.Order},
                {columnName: "Body", value: this.data.Body}
            ];
        },

        save() {
            if (this.data.Id) {
                //edit
                this.$store.dispatch("DATA_SERVISE", {
                    operation: "update",
                    columns: this.getSongColumns(),
                    schemaName:"Song",
                    filters: [{columnName: "Id", value: this.data.Id}]
                }).then((response) => {
                    if (response.status === 200) {
                        this.popup = {
                            type: "info",
                            title: "Saves",
                            data: "Данные успешно обновлены",
                            state: true
                        };
                    }
                });
            } else {
                //add
                this.$store.dispatch("DATA_SERVISE", {
                    operation: "insert",
                    columns: this.getSongColumns(),
                    schemaName:"Song"
                }).then((response) => {
                    if (response.status === 200) {
                        this.popup = {
                            type: "info",
                            title: "Saves",
                            data: "Данные успешно сохранены",
                            state: true
                        };
                    }
                });
            }
        }
    },

    data() {
        return {
            showEditError: false
        };
    }
};
</script>

<style lang="scss">
	#song_edit {
		overflow: scroll;
		max-height: 370px;

		& i {
			color: red;
		}

		& .ck-editor {
			margin-bottom: 10px;
		}
	}

	textarea.login__input {
		height: auto;
	}
</style>
