<template lang="pug">
  form#user_edit
    div
      label Name:
      input.login__input(v-model="data.Name" form="user_edit")
    div
      label Email:
      input.login__input(v-model="data.Email" type="email" form="user_edit")
    div
      label Телефон:
      input.login__input(v-model="data.Phone" type="tel" form="user_edit")
    div
      label Изображение:
      input.login__input(v-model="data.PhotoUrl")
    div
      label Роль:
      multiselect(:options="roles", v-model="selectedRole", track-by="Name", label="Name")
    br
    div
      label Login:
      input.login__input(v-model="data.Login" form="user_edit")
    div
      label Pass:
      input.login__input(v-model="data.Password" type="password" form="user_edit")
    div.login__error(v-if="showEditError") Ошибка редактирования
    .login__footer
      btn(@click="save") Save
      btn(@click="popup.state = false") Отменить
</template>

<script>
import base from "../modules/BaseModule";
import btn from "../components/Button";

export default {
    extends: base,

    components: {
        btn
    },

    created() {
        this.$store.dispatch("DATA_SERVISE", {
            columns: ["*"],
            schemaName: "UserRole"
        }).then((response) => {
            if (response.data) {
                this.roles = response.data;

                this.selectedRole = response.data.find((item) => {
                    return item.Id === this.data.DefaultRoleId;
                });
            }
        });
    },

    props: [ "data" ],

    methods: {
        getUserComumns() {
            return [
                { columnName: "Name", value: this.data.Name },
                { columnName: "PhotoUrl", value: this.data.PhotoUrl },
                { columnName: "Login", value: this.data.Login },
                { columnName: "Email", value: this.data.Email },
                { columnName: "Phone", value: this.data.Phone },
                { columnName: "Password", value: this.data.Password },
                { columnName: "Role", value: this.data.DefaultRoleId }
            ];
        },

        save() {
            if (this.data.Id) {
                this.$store.dispatch("EDIT_USER", {
                    Id: this.data.Id,
                    Name: this.data.Name,
                    Login: this.data.Login,
                    Email: this.data.Email,
                    Phone: this.data.Phone,
                    Password: this.data.Password,
                    PhotoUrl: this.data.PhotoUrl,
                    DefaultRoleId: this.selectedRole.Id
                }).then((response) => {
                    if (response.data) {
                        this.popup = {
                            type: "info",
                            title: "Saves",
                            data: "Данные успешно обновлены",
                            state: true
                        };
                    }
                });
            } else {
                this.$store.dispatch("DATA_SERVISE", {
                    operation: "insert",
                    columns: this.getUserComumns(),
                    schemaName: "User"
                }).then((response) => {
                    if (response.status === 200) {
                        this.popup = {
                            type: "info",
                            title: "Saves",
                            data: "Данные успешно сохранены",
                            state: true
                        };
                    }
                });
            }
        }
    },

    data() {
        return {
            showEditError: false,
            roles: [],
            selectedRole: {}
        };
    }
};
</script>

<style lang="scss">

</style>
