<template lang="pug">
	extends ../BasePage/index.pug

	block page_header
		.song-page__video(:class="{disable: !youtubeUrl}")
			iframe(v-if="youtubeUrl", width="100%", height="100%", :src="youtubeUrl", frameborder="0", allowfullscreen)
		.event-page__banner(:style="'background-image: url(' + event.ImageUrl +');'", v-if="!youtubeUrl")

	block page_buttons
		svg.song-page__buttons-video(@click="getYoutubeUrls" v-if="!youtubeUrl" height="100%" version="1.1" viewBox="0 0 68 48" width="100%")
			path(d="m .66,37.62 c 0,0 .66,4.70 2.70,6.77 2.58,2.71 5.98,2.63 7.49,2.91 5.43,.52 23.10,.68 23.12,.68 .00,-1.3e-5 14.29,-0.02 23.81,-0.71 1.32,-0.15 4.22,-0.17 6.81,-2.89 2.03,-2.07 2.70,-6.77 2.70,-6.77 0,0 .67,-5.52 .67,-11.04 l 0,-5.17 c 0,-5.52 -0.67,-11.04 -0.67,-11.04 0,0 -0.66,-4.70 -2.70,-6.77 C 62.03,.86 59.13,.84 57.80,.69 48.28,0 34.00,0 34.00,0 33.97,0 19.69,0 10.18,.69 8.85,.84 5.95,.86 3.36,3.58 1.32,5.65 .66,10.35 .66,10.35 c 0,0 -0.55,4.50 -0.66,9.45 l 0,8.36 c .10,4.94 .66,9.45 .66,9.45 z" fill="red" fill-opacity="0.81")
			path(d="m 26.96,13.67 18.37,9.62 -18.37,9.55 -0.00,-19.17 z" fill="#fff")
			path(d="M 45.02,23.46 45.32,23.28 26.96,13.67 43.32,24.34 45.02,23.46 z" fill="#ccc")

	block page_content
		.event-page__name {{ event.Name }}
		.event-page__body(v-html="event.Body")
		h3 Песни
		song(v-for="song in eventSongsSorted", :key="song.Id", :song="song", :isEvent="event.Id", :edit="fromSettings && editSong")
		h3 Участники
		user(v-for="user in eventUsers", :key="user.Id", :user="user", :edit="fromSettings && editUser")
		h3 Адреса
		.event-page__map
			.event-page__map-buttons
				.event-page__map-buttons-rep(@click="onMapButtonClick('Address')", :class="{active: event['Address'] === currentAddress}") Репетиция
				.event-page__map-buttons-min(@click="onMapButtonClick('Address2')", :class="{active: event['Address2'] === currentAddress}") Служение
			.event-page__map-body(ref="map", :class="{active: mapInit}")
</template>


<script>
import song from "../../components/Song";
import user from "../../components/User";
import base from "../BasePage/index";
import scrollService from "../../services/ScrollService";

export default {
    extends: base,

    components: {
        song,
        user
    },

    props: [ "id" ],

    beforeRouteEnter: (to, from, next) => {
        next((vm) => {
            if (from.name === "Admin_page_list") {
                vm.fromSettings = true;
            }
        });
    },

    computed: {
        eventSongsSorted() {
            return this.eventSongs.sort((a, b) => {
                if (a.Position > b.Position) {
                    return 1;
                } else if (a.Position < b.Position) {
                    return -1;
                }

                return 0;
            });
        }
    },

    created() {
        window.initMap = this.initMap.bind(this);
        this.setEvent();
    },

    methods: {
        editSong(song) {
            this.popup = {
                type: "event-song-form",
                title: song.Name,
                data: song,
                state: true
            };
        },

        editUser(user) {
            this.popup = {
                type: "event-user-form",
                title: user.Name,
                data: user,
                state: true
            };
        },

        setEvent() {
            this.event = this.$store.getters.GET_EVENT_BY_ID(this.id) || {};

            if (this.event.Id) {
                this.loadDetails(this.event.Id);
            }
        },

        loadDetails(eventId) {
            this.$store.dispatch("DATA_SERVISE", {
                operation: "batch",
                items: [
                    {
                        name: "songs",
                        config: {
                            columns: [ "*", "SongId.Name as Name", "SongId.YouTubeUri as YouTubeUri" ],
                            schemaName:"SongInIvent",
                            filters: [
                                { columnName: "IventId", value: eventId }
                            ],
                            order: [ "Position" ]
                        }
                    },
                    {
                        name: "users",
                        config: {
                            columns: [ "*", "UserId.Name as Name", "UserId.PhotoUrl as PhotoUrl", "RoleId.Name as RoleName" ],
                            schemaName:"VwUserInIventRole",
                            filters: [
                                { columnName: "IventId", value: eventId }
                            ],
                            order: [ "Position" ]
                        }
                    }
                ]
            }).then((response) => {
                if (response.data) {
                    this.eventSongs = response.data.songs;
                    this.eventUsers = response.data.users;
                }
            });
        },

        onMapButtonClick(address) {
            this.currentAddress = this.event[address];
            if (!this.mapInit) {
                let script = document.createElement("script");
                script.setAttribute("src", "https://maps.googleapis.com/maps/api/js?key=AIzaSyCjn0hOcN786uvjNsv0Hw_Kkg8yR29Qt2k&callback=initMap");
                document.head.append(script);
                this.mapInit = true;
            }
        },

        initMap() {
            this.axios.get(`https://maps.googleapis.com/maps/api/geocode/json?address=Киев,${ this.currentAddress }&key=AIzaSyCjn0hOcN786uvjNsv0Hw_Kkg8yR29Qt2k`)
                .then((response) => {
                    let res = response.data.results;

                    let myOptions = {
                        zoom: 15,
                        center: res[0].geometry.location,
                        scrollwheel: false,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    this.maps = new google.maps.Map(this.$refs.map, myOptions);
                    this.marker = new google.maps.Marker({ // маркер
                        map: this.maps,
                        visible: true,
                        title: this.currentAddress,
                        position: res[0].geometry.location
                    });

                    let infowindow = new google.maps.InfoWindow({
                        content: `<div style="color: black;">${ this.currentAddress }</div>`
                    });
                    this.marker.addListener("click", function() {
                        infowindow.open(this.maps, this.marker);
                    });
                    scrollService.scrollBottom();
                });
        },

        getYoutubeUrls() {
            let youtubeUrl = "https://www.youtube.com/embed/?autoplay=1&playlist=";
            let urls = [];

            this.eventSongs.forEach((song) => {
                let search = song.YouTubeUri && song.YouTubeUri.match("[^=]+$") || [];
                if (search.length > 0) {
                    urls.push(search[0]);
                }
            });

            if (urls.length > 0) {
                this.youtubeUrl = youtubeUrl + urls.join(",");
            }
        }
    },

    watch: {
        currentAddress() {
            this.initMap();
        },

        isInit: "setEvent"
    },

    data() {
        return {
            youtubeUrl: "",
            mapInit: false,
            currentAddress: "",
            event: {},
            eventSongs: [],
            eventUsers: [],
            fromSettings: false,
            pageClasses: { "event-page": true }
        };
    }
};
</script>

<style lang="scss" src="./style.scss"></style>
