.song-name-img {
  width: 30px;
  height: 30px;
  background-size: cover;
  display: inline-block;
  margin-right: 10px;
}
.song-in-event {
  display: flex;
  align-items: center;
}
.event-page {

  &__banner {
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    background-size: cover;
    background-position: center center;
    margin-top: 5px;

    @include media(L) {
      height: 400px;
      margin-top: 0;
    }
  }

  &__name {
    font-size: 28px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-weight: bold;
  }

  &__body {
    text-align: justify;
    padding: 0 10px;
  }

  &__map {

    &-body {
      height: 0;
      transition: all 0.5s ease;

      &.active {
        height: 300px;
      }
    }

    &-buttons {
      display: flex;
      justify-content: center;

      &-rep,
      &-min {
        padding: 10px;
        margin: 0 15px 20px;
        background-color: antiquewhite;
        border-radius: 5px;

        &.active {
          background-color: darkgray;
        }
      }
    }
  }
}
