<template lang="pug">
  .main-app
    //main-header
    main-content
      transition(:name="transitionName" mode="out-in" @afterEnter="afterEnter")
        router-view
    main-footer
</template>

<script>
import base from "./modules/BaseModule";

import MainHeader from "./modules/MainHeader/MainHeader.vue";
import MainContent from "./modules/MainContent/MainContent.vue";
import MainFooter from "./modules/MainFooter/MainFooter.vue";
const DEFAULT_TRANSITION = "fade";

export default {
    extends: base,

    components: {
        MainHeader,
        MainContent,
        MainFooter
    },
    props: [],

    created() {
        this.chain([
            "getInitData",
            "getLastActivity",
            "init"
        ], this);

        this.$router.beforeEach((to, from, next) => {
            if (to.meta.isAuth && !this.$rights.canEdit()) {
                next({ name: "Main_section" });
            }
            this.transitionName = DEFAULT_TRANSITION;

            next();
        });
    },

    methods: {
        init() {
            this.$store.state.isInit = true;
        }
    },

    data() {
        return {
            transitionName: DEFAULT_TRANSITION,
            lastActivity: {
                songs: [],
                events: []
            }
        };
    }
};
</script>

<style lang="scss">
  @font-face {
    font-family: 'Avenir Next Cyr Thin';
    src: url('/fonts/AvenirNextCyr-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  body {
    margin: 0;
    font-family: "Avenir Next Cyr Thin", Arial, sans-serif;

    & h3 {
      text-align: left;
      margin: 0 0 0 2.5%;
      padding: 18px 0;
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }

  .slide-left-enter-active,
  .slide-left-leave-active,
  .slide-right-enter-active,
  .slide-right-leave-active {
    transition-duration: 0.5s;
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    overflow: hidden;
  }

  .slide-left-enter,
  .slide-right-leave-active {
    opacity: 0;
    transform: translate(2em, 0);
  }

  .slide-left-leave-active,
  .slide-right-enter {
    opacity: 0;
    transform: translate(-2em, 0);
  }
</style>
